.board {
	margin-top: 20px;
}

.mainInput {
	display: block;
	margin: 0 auto;
	font-size: 20px;
	border-radius: 4px;
	border: 1px solid darkred;
	outline: 0;
	padding: 2px 10px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

img {
	height: 200px;
	width: 200px;
}

figure {
	margin: 10px;
}

figcaption {
	text-align: center;
}