body {
  background: #f3f3f3;
}

.board {
	margin-top: 20px;
}
.header {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 20;
	background: #f3f3f3;
}

.header h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.mainInput {
	display: block;
	margin: 10px auto;
	font-size: 20px;
	border-radius: 4px;
	border: 1px solid darkred;
	outline: 0;
	padding: 2px 10px;
}

.cards {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img {
	height: 200px;
	width: 200px;
}

.img-box {
	margin: 10px;
	background: #111;
}

.img-box figcaption {
	text-align: center;
	background: #58D68D;
	color: #111;
	font-size: 20px;
	padding: 4px 0;
}